a {
    color: inherit;
    text-decoration: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  ::selection {
    background-color: violet;
    color: #1b1b1b;
  }
  nav {
    width: 100%;
    background-color: #0b0b0b;
    position: fixed;
    bottom: 0;
    height: 100px;
    overflow: hidden;
  }
  nav ul {
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 140vw;
  }
  nav li {
    margin: 0;
    float: left ;
    display: inline-block;
    height: 98px;
    margin-bottom: 2px;
    line-height: 100px;
    width: 20vw;
    text-align: center;
    color: #555;
    transition: background-color 0.5s 0.2s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    transform: translateY(100%);
  }
  nav li.active {
    background-color: #151515;
    color: #efefef;
  }
  nav li.active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: violet;
  }
  nav li:nth-child(1) {
    animation: pop 0.5s 0.15s 1 forwards;
  }
  nav li:nth-child(2) {
    animation: pop 0.5s 0.3s 1 forwards;
  }
  nav li:nth-child(3) {
    animation: pop 0.5s 0.45s 1 forwards;
  }
  nav li:nth-child(4) {
    animation: pop 0.5s 0.6s 1 forwards;
  }
  nav li:nth-child(5) {
    animation: pop 0.5s 0.75s 1 forwards;
  }
  nav li:nth-child(6) {
    animation: pop 0.5s 0.9s 1 forwards;
  }
  nav li:nth-child(7) {
    animation: pop 0.5s 1.05s 1 forwards;
  }
  nav li:hover {
    color: #ececec;
  }
  nav li:active {
    background-color: #222;
  }
  nav li:nth-child(1):hover ~ .slide {
    left: 0;
  }
  nav li:nth-child(2):hover ~ .slide {
    left: 20vw;
  }
  nav li:nth-child(3):hover ~ .slide {
    left: 40vw;
  }
  nav li:nth-child(4):hover ~ .slide {
    left: 60vw;
  }
  nav li:nth-child(5):hover ~ .slide {
    left: 80vw;
  }
  nav li:nth-child(6):hover ~ .slide {
    left: 100vw;
  }
  nav li:nth-child(7):hover ~ .slide {
    left: 120vw;
  }
  nav li.slide {
    position: absolute;
    left: -20vw;
    top: 0;
    background-color: #fff;
    z-index: -1;
    height: 2px;
    margin-top: 98px;
    transition: left 0.3s ease;
    transform: translateY(0);
  }

  @-moz-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-o-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-moz-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-o-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-moz-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @-webkit-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @-o-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }

  body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #444;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
 
  .veille-btn {
    background-color: #666;
    border-radius: 5px;
    color: #fff;
    display: inline-block; /* Changer de "block" à "inline-block" */
    padding: 5px 10px; /* Ajuster le rembourrage selon tes préférences */
    text-align: center;
    text-decoration: none;
}

.veille-btn:hover {
    background-color: #777; /* Couleur de fond au survol */
    color: #fff; /* Couleur du texte au survol */
}

.veille-btn:active {
    background-color: #222; /* Couleur de fond au clic */
}


  main {
    padding: 20px;
  }
  
  .project {
    background-color: #555;
    border-radius: 10px; /* Augmenter la valeur de border-radius pour des coins plus arrondis */
    margin: 50px 0;
    overflow: hidden;
    padding: 20px;
}

  
  
  .project h2 {
    margin-top: 0;
  }
  
  .project img {
    display: block;
    width: 200px; /* Largeur fixe de l'image */
    height: 200px; /* Hauteur fixe de l'image */
  }
  
  
  
  .project p {
    margin: 20px 0;
  }
  
  .project a {
    background-color: #666;
    border-radius: 5px;
    color: #fff;
    display: inline-block; /* Changer de "block" à "inline-block" */
    padding: 5px 10px; /* Ajuster le rembourrage selon tes préférences */
    text-align: center;
    text-decoration: none;
}

  
  .project a:hover {
    background-color: #777;
  }
  
  /* Aligner l'image à gauche ou à droite en fonction de la classe */
  .project.left img {
    float: left;
    margin-right: 20px;
  }
  
  .project.right img {
    float: right;
    margin-left: 20px;
  }
  
  /* Ajouter un dégagement pour les éléments flottants */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  .project .logos img {
    width: 15%; /* Ajustez la taille des logos selon vos préférences */
    height: 60%; /* Permet de maintenir les proportions de l'image */
    float: right; /* Aligne les logos à droite */
    margin-left: 10px; /* Ajoute un espace entre les logos et le texte */
}

.project .logoss img {
  width: 10%; /* Ajustez la taille des logos selon vos préférences */
  height: 20%; /* Permet de maintenir les proportions de l'image */
  float: right; /* Aligne les logos à droite */
  margin-left: 10px; /* Ajoute un espace entre les logos et le texte */
}